CRAFT_AI_SDK_TOKEN= "MY_TOKEN" # You can find it under Your Name menu in the top-right corner, then Parameters => Account and at the page bottom
CRAFT_AI_ENVIRONMENT_URL="https://MY_ENV_URL_FINISHING_WITH.mlops-platform.craft.ai" # You can find it below the environnement name in the "Pipeline" page.